@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(143, 205, 9);
}

/* .bg-primary {
  background-color: var(--primary-color);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
